<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Conference speakers</title>
    <link rel='stylesheet prefetch'
          href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel='stylesheet prefetch' href='https://unpkg.com/vue-material@latest/dist/vue-material.css'>

    <link rel="stylesheet" href="css/style.css">
</head>

<body>

<div id="app">
    <md-toolbar>
        <h1 class="md-title">Conference speakers</h1>
    </md-toolbar>

    <div class="main-content">
        <ul>
            <speaker v-for="speaker in speakers" v-bind:speaker="speaker"></speaker>
        </ul>
    </div>
</div>

<script src='https://unpkg.com/vue'></script>
<script src='https://unpkg.com/vue-material'></script>

<script>
    var CACHED_DATA = [{{#speakers}}{name: '{{name}}', image: '{{image}}', bio: '{{bio}}'},{{/speakers}}];
</script>

<script src="js/app.js"></script>

</body>
</html>
